.contato__caixa {
    background: white;
    border: none;
    border-bottom: 3px solid lightgrey;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 3rem;
    margin-bottom: 1rem;
    width: 100%;
}

.contato__caixa:focus-within {
    border-bottom: 3px solid #2A7AE4;
 
}

.contato__caixa--mensagem {
    height: 5rem;
}