.cabecalho__botaoMenu {
    border: 2px solid #2A7AE4;
    color: #2A7AE4;
    font-weight: 600; 
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;

}

@media screen and (max-width: 375px){
    .cabecalho__botaoMenu{
        font-size: 12px;
        padding: 0.40rem;
        width: 45%;
    }
}

@media screen and (min-width: 768px){
    .cabecalho__botaoMenu{
        order: 1;
    }
}

@media screen and (min-width: 1024px){
    .cabecalho__botaoMenu:hover{
        background: #2A7AE4;
        color: white;
    }
}