.login__botaoEntrar {
    background: #2A7AE4;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 2.75rem;
    width: 45%;
}

.login__botaoEntrar:hover{
    cursor: pointer;
    background: #246bc7;
}

@media screen and (min-width: 1024px){
    .login__botaoEntrar{
        width: 100%;
    }
}